@import "../../style/_vars.scss";

.note-list {
  ul {
    margin: 0;
    padding: 0;
    border: $color-success solid;
    }

  .delete-button {
    border: none !important;
    }

  li {
    list-style-type: none;
    display: block;
    font-family: Helvetica, Verdana, sans-serif;
    border: $color-black solid;
      }
    }
